

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600&display=swap');


body {
  font-family: Optima, Candara, Calibri, Arial, sans-serif;
}

.menu li{
  font-family: Optima, Candara, Calibri, Arial, sans-serif;
}

body {
  font-family: Encode Sans, Optima, Candara, Calibri, Arial, sans-serif;
  font-weight: 350;
}

h1, h2, h3 {
  font-family: Josefin Slab, Optima, Candara, Calibri, Arial, sans-serif;
}
h1 {
  font-weight: 800;
}

h2 {
  font-weight: 600;
}

strong {
  font-weight: 700;
}


code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
