{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

<ul>
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  {{ if and (.PublishDate.After (time "2021-07-01")) (.PublishDate.Before now) }}
  <li>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    ({{.Date.Format "2006-01-02" }})
  </li>
  {{ end }}
  {{ end }}
</ul>

{{ template "_internal/disqus.html" . }}


