
<hr>
<p><a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img src="https://img.shields.io/badge/License-CC%20BY--NC--SA%204.0-lightgrey.svg" alt="CC BY-NC-SA 4.0"></a></p>


{{ $pagecat := .Params.pagecat }}
{{ if ne "worksheet" $pagecat }}
<hr>
{{ template "_internal/disqus.html" . }}
{{ end }}

{{ if .File }}

{{ $Rmd := (print .File.BaseFileName ".Rmd") }}
{{ $Rmarkdown := (print .File.BaseFileName ".Rmarkdown") }}
{{ $md := (print .File.BaseFileName ".md") }}
{{ $markdown := (print .File.BaseFileName ".markdown") }}

{{ if (where (readDir (print "content/" .File.Dir)) "Name" $Rmd) }}
  {{ $.Scratch.Set "FilePath" (print .File.Dir $Rmd) }}
{{ else if (where (readDir (print "content/" .File.Dir)) "Name" $Rmarkdown) }}
  {{ $.Scratch.Set "FilePath" (print .File.Dir $Rmarkdown) }}
{{ else if (where (readDir (print "content/" .File.Dir)) "Name" $md) }}
  {{ $.Scratch.Set "FilePath" (print .File.Dir $md) }}
{{ else if (where (readDir (print "content/" .File.Dir)) "Name" $markdown) }}
  {{ $.Scratch.Set "FilePath" (print .File.Dir $markdown) }}
{{ else }}
  {{ $.Scratch.Set "FilePath" .File.Path }}
{{ end }}

{{ with .Site.Params.GithubEdit}}
<div id = "edit-on-github">
<a href='{{ . }}{{ $.Scratch.Get "FilePath" }}'>Edit this page on GitHub</a>
</div>
{{ end }}

{{ end }}
<script src="//yihui.org/js/math-code.js"></script>
<script async src="//mathjax.rstudio.com/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>

<script async src="//yihui.org/js/center-img.js"></script>

