<style>
.ethical-issue {
  font-weight: bold;
}
</style>

<div id = "ethical-issues">

<span class="ethical-issue">Media Literacy</span>: Determining if an (online) article, video, etc. is
factual, reliable, and unbiased.

<span class="ethical-issue">Accessibility</span>: Ensuring to the best of one's ability that what we 
produce is available to those with special needs,
including economic, physical, mental, and emotional.

<span class="ethical-issue">Visualization</span>: Employing techniques that represent data and models
in a clear, accessible way that accurately reflects the data and what 
we can learn from them.

<span class="ethical-issue">Transparency</span>: Representing data, algorithms, processes, or any information
that affects stakeholders in an open, explicit, and easily comprehensible
way.

<span class="ethical-issue">Diversity</span>: Having a variety of people (race and ethnicity, age,
gender, skills and education level, sexual orientation, religion, etc.)
contributing to the development of an idea or product in an effort to
avoid bias, to increase the breadth of insight into the development 
process, and to ensure different groups don't experience disproportionate
benefits or costs.

<span class="ethical-issue">Sustainability</span>: Adopting practices that serve to protect the environment
including living creatures and other naturally occurring resources and
features.

<span class="ethical-issue">Intellectual Property</span>: Crediting the creator or discoverer of work;
affording control over the work to the creator of the work.

<span class="ethical-issue">Decision Making</span>: Taking responsibility for how a system or organization
makes decisions, especially those involving life-altering actions.

<span class="ethical-issue">Freedom of Speech</span>: Granting the rights and enforcing the limitations
of people to express themselves and correspond, including through electronic
communication.

<span class="ethical-issue">Dignity</span>: Valuing human and animal life, well-being, and connection
above productivity or end results.

<span class="ethical-issue">Physical and Mental Health</span>: Proactively taking care to protect the
health of colleagues, customers, clients, consumers, employees, and oneself.

<span class="ethical-issue">Professional Citizenship</span>: Contributing voice and opinion within
one's expertise regarding the ethicality of the work of those around
them.
</div>