Cite this work using
  
  <div id="refs" class="references csl-bib-body hanging-indent">
<div id="ref-Carter:2019" class="csl-entry">
Carter, Lori, and Catherine Crockett. 2019. <span>“An Ethics Curriculum for CS with Flexibility and Continuity.”</span> In <em>IEEE Frontiers in Education Conference (FIE)</em>, 1–9. <a href="https://doi.org/10.1109/FIE43999.2019.9028356">https://doi.org/10.1109/FIE43999.2019.9028356</a>.
</div>
</div>

or give attribution by referring to Integrated Ethics Labs (integratedethicslabs.org).

<div style="text-align: center">
 &copy; 2017-2021 Integrated Ethics Labs
</div>
