<div style="columns: 3; width: 85%; margin:auto" >
Adaptability

Attentiveness

Authenticity

Commitment

Compassion

Contentment

Cooperation

Courage

Excellence

Faithfulness

Frugality

Generosity

Gentleness

Gratitude

Honesty

Hope

Hospitality

Humility

Inclusion

Integrity

Initiative

Justice

Kindness

Love

Loyalty

Mercy

Moderation


Open-mindedness

Patience

Perseverance

Piety

Professionalism

Provide for others

Quality

Reliability

Respect

Self-discipline

Self-sacrifice 

Service

Sustainability

Tact

Transparency
</div>